In [4]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [ ]:
# Following https://medium.com/analytics-vidhya/predicting-stock-prices-using-facebooks-prophet-model-b1716c733ea6

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 30.2 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23919 sha256=53c61bbd77c0da3a32ddf8096d9d18cd1a8988462e5b11315c8748801c7d2912
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [3]:
!pip install yahoofinancials

Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2018.9)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15190 sha256=75b3e84d183b8d039c63e8c4ddb6fd570db2f3ed4b9bd6bbc61c8653ddd1834c
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [21]:
intel=yf.Ticker('IPL.NS')

In [22]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
df=intel.history(period="max")
df=df.reset_index()
df.head()

        Date   Open        High  ...    Volume  Dividends  Stock Splits
0 2021-07-05  350.0  368.000000  ...  25600715          0             0
1 2021-07-06  343.0  350.450012  ...   2516321          0             0
2 2021-07-07  342.0  349.299988  ...   1848855          0             0
3 2021-07-08  338.0  339.549988  ...   1001300          0             0
4 2021-07-09  333.0  346.799988  ...   2920525          0             0

[5 rows x 8 columns]

In [23]:
# Select Date and Price
df = df[["Date","Close"]] 
# Rename the features: These names are required for the model fitting
df = df.rename(columns = {"Date":"ds","Close":"y"}) 
df.head()

          ds           y
0 2021-07-05  343.149994
1 2021-07-06  341.450012
2 2021-07-07  335.350006
3 2021-07-08  333.500000
4 2021-07-09  344.350006

In [24]:
from fbprophet import Prophet
# The Prophet class (model)
fbp = Prophet(daily_seasonality = True) 
 # Fit the model 
fbp.fit(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 18.

In [25]:
# We need to specify the number of days in future
# We'll be predicting the full 2021 stock prices
fut = fbp.make_future_dataframe(periods=1) 
forecast = fbp.predict(fut)

In [26]:
df.tail()

           ds           y
19 2021-08-02  335.799988
20 2021-08-03  333.399994
21 2021-08-04  332.049988
22 2021-08-05  327.549988
23 2021-08-06  327.250000

In [27]:
forecast.tail()

           ds      trend  ...  multiplicative_terms_upper        yhat
20 2021-08-03  12.505017  ...                         0.0  331.527180
21 2021-08-04  11.501981  ...                         0.0  328.662225
22 2021-08-05  10.498945  ...                         0.0  329.314324
23 2021-08-06   9.495909  ...                         0.0  330.550873
24 2021-08-07   8.492873  ...                         0.0  274.715703

[5 rows x 19 columns]